.news {
  background: #c5cae9;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.2);
}

.news:hover {
  transform: translateY(-2px);
}

.news__title {
  font-size: 1.25em;
  color: black;
  text-decoration: none;
}

.news__title:hover {
  color: blueviolet;
}
