.overall_container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overall_confirmed {
  flex-grow: 1;
  border-radius: 20px;
  text-align: center;
  margin: 0 5px;
  font-size: 2em;
  background: #c5cae9;
  color: #f44336;
}

.overall_active {
  flex-grow: 1;
  border-radius: 20px;
  text-align: center;
  margin-right: 5px;
  font-size: 2em;
  background: #c5cae9;
  color: #ffd600;
}

.overall_recover {
  flex-grow: 1;
  border-radius: 20px;
  font-size: 2em;
  text-align: center;
  background: #c5cae9;
  color: #087f23;
}

.overall_death {
  flex-grow: 1;
  border-radius: 20px;
  text-align: center;
  margin: 0 5px;
  font-size: 2em;
  background: #c5cae9;
}

.virus_icon {
  font-size: 10rem;
}

.active_icon {
  font-size: 10rem;
}

.recovered_icon {
  font-size: 10rem;
}

.death_icon {
  font-size: 10rem;
}

.charts_container {
  display: flex;
  height: 300px;
}

.confirmed_chart {
  margin-top: 20px;
  flex-grow: 1;
}

.active_chart {
  margin-top: 20px;
  flex-grow: 1;
}

.recovered_chart {
  margin-top: 20px;
  flex-grow: 1;
}

.death_chart {
  margin-top: 20px;
  flex-grow: 1;
}