.not_found_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.card {
  width: 300px;
  text-align: center;
  background: #c5cae9;
  border-radius: 20px;
}

.status_code {
  font-size: 32px;
  color: red;
}

.msg {
  font-size: 32px;
}
